body {
    margin: 0;
    background-color: rgba(25, 20, 20);
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: rgba(25, 20, 20);
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 25px;
}
nav img {
    /* height: 60px; */
    width: 60px;
}
nav li {
    display: flex; 
}
nav li a {
    text-decoration: none;
    color: rgb(255, 255, 255); 
}
nav li a:hover {
    color: rgb(30, 215, 96);
}
ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}